version: '3'

services:
  lb:
    image: dockercloud/haproxy
    ports:
      - "9050:9050"
      - "19360:1936"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  tor:
    image: dperson/torproxy
    environment:
        - TCP_PORTS=9050
        - SERVICE_PORTS=9050
